<section>
    <div class="container">
        <h6 class="text-center text-white">Edition Manga</h6>
        {{!--Ajout de l'url et de la méthode--}}
        <form action="/admin/editManga/{{ _id }}" method="POST" enctype="multipart/form-data">

            {{!-- Input Titre du manga --}}
            <div class="form-group">
                <label for="text">Titre du tome</label>
                <input type="text" class="form-control" id="exampleInput" name="title" value="{{ title }}">
            </div>

            {{!-- Input saison --}}
            <div class="form-group">
                <label for="text">Saison</label>
                <input type="number" class="form-control" id="exampleInput" name="season" value="{{ season }}">
            </div>

            {{!-- Input Contenu --}}
            <div class="form-group">
                <label for="exampleInputTextarea">Description</label>
                <textarea class="form-control" id="editor15" name="content" hidden>{{ content }}</textarea>
                {{!-- Rajout de l'éditeur de texte "CKeditor" --}}
                <script>
                    const ed15 = CKEDITOR.replace('editor15', {
                        entities: false, // Pour la suppression des caractères spéciaux
                        language: 'fr',
                        uiColor: '#FFF205' // Coloriser les bordures de l'éditeur
                    });

                    ed15.on('change', function (e) {//modification du contenu de l'éditeur
                        console.log(e.editor.getData())
                    })
                </script>
            </div>

            {{!-- Image --}}
            <div class="form-group">
                <label for="exampleFormControlFile1">Envoyer une image au format jpeg</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1" name="image">{{ image }}
            </div>

            {{!-- Bouttons --}}
            <div class="text-center">
                <button type="submit" class="btn btn-edit"><i class="fas fa-edit"></i></button>
            </div>
        </form>
    </div>
</section>