{{!-- Page personnages --}}
<section class="mt-5">
    <div class="container">
        <h1 class="text-center">Liste des personnages et de leurs capacités respectives.</h1>
        <p class="text-center mt-5">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum
        </p>

        {{!-- bar de recherche --}}
        <div class="form-group mb-4 mt-5">
            <input id="myInput" type="text" onkeyup="myFunction()" placeholder="Qui recherchez-vous ?"
                class="form-control">
        </div>

        {{!-- Filtrage des personnages --}}
        <script>
            //déclaration de "myFunction"//
            function myFunction() {
                //déclaration des variables//
                var input, filter, h5, a, alt, ul, li, i, txtValue;
                //récupération de la balise "input"//
                input = document.getElementById("myInput");
                //lui attribuer la variable "filter"//
                filter = input.value.toUpperCase();
                //Récuperer la liste des éléments avec "ul"//
                ul = document.getElementById("myJojo");
                //"li" est l'enfant de "ul"//
                li = ul.getElementsByTagName("li");

                for (i = 0; i < li.length; i++) {
                    h5 = li[i].getElementsByTagName("h5")[0];
                    h5TxtValue = (h5.textContent || h5.innerText).toUpperCase().indexOf(filter) > -1;

                    btn = li[i].getElementsByTagName("button")[0];
                    btnTxtValue = (btn.textContent || btn.innerText).toUpperCase().indexOf(filter) > -1;

                    p = li[i].getElementsByTagName("p")[0];
                    pTxtValue = (p.textContent || p.innerText).toUpperCase().indexOf(filter) > -1;

                    if (h5TxtValue || btnTxtValue || pTxtValue) {
                        li[i].style.display = "";
                    } else {
                        li[i].style.display = "none";
                    }
                }
            }
        </script>

        {{!-- Card --}}

        <div class="container justify-content-center">
            <div>
                <ul id="myJojo" class="row">
                    {{#each character }}
                    <li class="list-group-item col-md-4 col-lg-4 m-1 p-0 rounded">
                        <div id="characters" class="rounded card-img-top img-fluid"
                            style="background-image: url({{image}})"></div>

                        <style>
                            #characters {
                                background-repeat: no-repeat;
                                background-position: center;
                                height: 200px;
                                width: auto;
                                background-size: cover;
                                content: none;
                            }

                            .row {
                                display: flex;
                                flex: 1 0 auto;
                            }
                        </style>


                        <div class="card-body">
                            <h5 class="card-title text-center font-weight-bolder">{{ name }}</h5>
                            {{!-- Ajout de la variable "stripTags" ainsi que le contenu --}}
                            <p class=" text-justify">{{{ stripTags content }}}</p>


                            {{!-- Button trigger modal --}}
                            <div class="text-center">
                                <button type="button" class="btn" data-toggle="modal" {{!-- Définir l'ID pour le lier au
                                    modal --}} data-target="#exampleModalLong{{ _id }}">
                                    Faculté
                                </button>
                            </div>
                            {{!-- /Button trigger modal --}}

                            <div class="card-footer mt-2">
                                {{!-- Récupérer le "createDate" pour ajouter la date --}}
                                <p class="card-text text-center"><small class="text-muted">Ajouté le:
                                        {{ moment createDate format="DD.MM.YYYY" }}</small></p>
                            </div>
                        </div>
                    </li>

                    {{!-- Modal --}}
                    <div class="modal fade " id="exampleModalLong{{ _id }}" data-backdrop="static" data-keyboard="false"
                        tabindex="-1" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                                {{!-- <div class="modal-header"> --}}
                                {{!-- <h4 class="modal-title font-weight-bolder" id="exampleModalLongTitle">
                                        {{ powers.name }}
                                    </h4> --}}
                                {{!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button> --}}
                                {{!-- </div> --}}

                                <div id="powers" class="rounded p-0" style="background-image: url({{powers.image}})">
                                </div>
                                <style>
                                    #powers {
                                        background-repeat: no-repeat;
                                        background-position: top;
                                        height: 500px;
                                        width: auto;
                                        background-size: cover;

                                    }
                                </style>
                                <div class="modal-body p-1">
                                    {{!-- <img src="" alt=""> --}}
                                    <div class="list-group text-center mt-5">
                                        <h4 class="modal-title font-weight-bolder">
                                            {{ powers.name }}
                                        </h4>
                                        <p class="mt-2">
                                            {{{ stripTags powers.content1 }}}</p>
                                        <h5 class="mt-5"> <span> Type:</span> {{ powers.title1 }}</h5>
                                        <hr>
                                        <p class="mt-2">{{{ stripTags powers.content2 }}}
                                        </p>
                                        <h5 class="mt-5">{{ powers.title2 }}</h5>
                                        <hr>
                                        <p class="mt-2"> {{{ stripTags powers.content3 }}}
                                        </p>
                                    </div>
                                </div>
                                {{!-- /card --}}
                                <div class="modal-footer">
                                    <button type="button" class="btn" data-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{!-- Fin de la boucle --}}
                    {{/each }}
                </ul>
            </div>
        </div>
    </div>
</section>
{{!-- /Page personnages --}}

{{!-- Pagination --}}
<section>
    {{#if paginator}}
    <div class="nav justify-content-center" aria-label="page navigation">
        <ul class="pagination">

            {{!-- Cela rend le lien précédent--}}
            {{#paginator paginator type="prev"}}
            <li class="page-item"><a class="page-link" href="{{prev}}">Previous</a></li>
            {{/paginator}}

            {{!-- Cela rend les éléments de la liste avec leurs numéros --}}
            {{#paginator paginator type="links" limit="5"}}
            <li class="page-item {{#if active}}active{{/if}}"><a class="page-link" href="{{href}}">{{n}}</a></li>
            {{/paginator}}
            
            {{!-- Cela rend le lien suivant --}}
            {{#paginator paginator type="next"}}
            <li class="page-item"><a class="page-link" href="{{next}}">Next</a></li>
            {{/paginator}}

        </ul>
    </div>
    {{/if}}
</section>
{{!-- /pagination --}}


<style>
    /* CARD PERSONNAGES*/

    .card-footer {
        padding: .75rem 1.25rem;
        background-color: white;
        border-top: none
    }

    .btn {
        position: relative;
        cursor: pointer;
        border: none;
        border-radius: 50px;
        outline: none;
        background: linear-gradient(90deg, #FF1178, #FE0000, #FFF205, #FF1178);
        box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #fff;
        background-size: 400%;
        color: #fff;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
    }


    .btn::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background: linear-gradient(90deg, #FF1178, #FE0000, #FFF205, #FF1178);
        background-size: 400%;
        border-radius: 50px;
        opacity: 0;
        transition: .5s;
    }

    .btn:hover {
        animation: animate 10s linear infinite;
        color: white;
    }

    .btn:hover::before {
        filter: blur(25px);
        opacity: .8;
        animation: animate 10s linear infinite;
    }

    @keyframes animate {
        0% {
            background-position: 0%;
        }

        100% {
            background-position: 400%;
        }
    }
</style>