{{!-- Page personnages --}}
<section class="mt-5 bg-characters">

    <div class="container">
        <h1 style="text-align: center;" class="display-4">Liste des personnages</h1>
        <p class="text small" style="text-align: center;">Et olim licet otiosae sint tribus pacataeque centuriae et
            nulla <br>
            suffragiorum certamina set Pompiliani redierit securitas temporis, <br> per omnes tamen quotquot sunt
            partes terrarum, ut domina suscipitur et regina <br> et ubique patrum reverenda cum auctoritate canities.
        </p>

        {{!-- bar de recherche --}}
        <div class="form-group mb-4">
            <input id="myInput" type="text" onkeyup="myFunction()" placeholder="Qui recherchez-vous ?"
                class="form-control">
        </div>

        {{!-- Filtrage des personnages --}}
        <script>
            //déclaration de "myFunction"//
            function myFunction() {
                //déclaration des variables//
                var input, filter, h5, a, alt, ul, li, i, txtValue;
                //récupération de la balise "input"//
                input = document.getElementById("myInput");
                //lui attribuer la variable "filter"//
                filter = input.value.toUpperCase();
                //Récuperer la liste des éléments avec "ul"//
                ul = document.getElementById("myJojo");
                //"li" est l'enfant de "ul"//
                li = ul.getElementsByTagName("li");

                for (i = 0; i < li.length; i++) {
                    h5 = li[i].getElementsByTagName("h5")[0];
                    h5TxtValue = (h5.textContent || h5.innerText).toUpperCase().indexOf(filter) > -1;

                    btn = li[i].getElementsByTagName("button")[0];
                    btnTxtValue = (btn.textContent || btn.innerText).toUpperCase().indexOf(filter) > -1;

                    p = li[i].getElementsByTagName("p")[0];
                    pTxtValue = (p.textContent || p.innerText).toUpperCase().indexOf(filter) > -1;

                    if (h5TxtValue || btnTxtValue || pTxtValue) {
                        li[i].style.display = "";
                    } else {
                        li[i].style.display = "none";
                    }
                }
            }
        </script>

        {{!-- Card  --}}
        <div class="container">
            {{!-- <div class=""> --}}
            <ul id="myJojo" class="row justify-content-center">
                {{!-- Réduction des cards ici, 4 avec "limit" --}}
                {{#each character }}
                <li
                    class="card-deck list-group-item col-md-6 col-sm-12 col-lg-4 col-xl-3 m-2 p-1 rounded shadow border-light">
                    <style>
                        .div-characters {
                            background-image: linear-gradient(to bottom, #ad538909, #6801a0),
                            url({{ image }});
                            background-repeat: no-repeat;
                            background-position: right top;
                            height: 200px;
                            width: auto;
                            background-size: cover;

                        }
                    </style>
                    <div class="div-characters rounded"></div>


                    <div class="card-body">
                        <h5 class="card-title text-center">{{ name }}</h5>
                        {{!-- Ajout de la variable "stripTags" ainsi que le contenu --}}
                        <p class="card-text text-center">{{ stripTags content }}</p>
                        {{!-- Récupérer le "createDate" pour ajouter la date --}}
                        <p class="card-text text-center"><small class="text-muted">Ajouté le:
                                {{ moment createDate format="DD.MM.YYYY" }}</small></p>
                        {{!--  Button trigger modal  --}}
                        <div class="text-center">
                            <button type="button" class="btn" data-toggle="modal"
                                {{!-- Définir l'ID pour le lier au modal --}} data-target="#staticBackdrop{{ _id }}">
                                Faculté
                            </button>
                        </div>
                        {{!-- /Button trigger modal --}}
                    </div>
                </li>

                {{!-- Modal --}}
                <div class="modal fade " id="staticBackdrop{{ _id }}" data-backdrop="static" data-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title font-weight-bolder">{{ powers.name }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div>
                                <img src="{{ powers.image }}" class="card-img-top" alt="...">
                            </div>
                            <div>
                                <p class="card-text text-center mt-5">{{ stripTags powers.content1  }}</p>
                            </div>
                            <div class="modal-body p-1">
                                <div id="accordion" class="container">
                                    <div class="card">
                                        <div class="card-header top rounded" id="headingOne">
                                            <h5 class="mb-0">
                                                <button class="btn-accordion collapsed" data-toggle="collapse"
                                                    data-target="#collapseOne" aria-expanded="true"
                                                    aria-controls="collapseOne">
                                                    {{ powers.title2 }}
                                                </button>
                                            </h5>
                                        </div>

                                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                            data-parent="#accordion">
                                            <div class="card-body">
                                                {{ stripTags powers.content2 }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header top rounded" id="headingTwo">
                                            <h5 class="mb-0">
                                                <button class="btn-accordion collapsed" data-toggle="collapse"
                                                    data-target="#collapseTwo" aria-expanded="false"
                                                    aria-controls="collapseTwo">
                                                    {{ powers.title2 }}
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                            data-parent="#accordion">
                                            <div class="card-body">
                                                {{ stripTags powers.content3 }}
                                            </div>
                                        </div>
                                    </div>
                                    {{!-- /card --}}

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Fermer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{!-- /Modal --}}
                </div>
                {{!-- Fin de la boucle --}}
                {{/each }}
            </ul>
            {{!-- </div> --}}
        </div>
        {{!--  Pagination  --}}
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item active"><a class="page-link" href="page">1</a></li>
            <li class="page-item"><a class="page-link" href="page1">2</a></li>
            <li class="page-item"><a class="page-link" href="page2">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
        {{!-- /Pagination --}}
</section>
{{!-- /Page personnages --}}

<style>
    /* CARD PERSONNAGES*/
    .ul {
        padding: 40px 30px;
        flex: 1 1 auto;
        min-height: 1px;
    }

    .ul {
        position: relative;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: .25rem;
    }

    .rounded {
        border-radius: .55rem !important;
    }

    img {
        vertical-align: middle;
        border-style: none;
    }

    .shadow {
        box-shadow: 2px 2px 4px #e2e6fc, -2px -2px 4px #fff;
    }

    .card {
        position: relative;
        flex-direction: column;
    }

    .card-title {
        color: #191941;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
    }

    .btn {
        position: relative;
        cursor: pointer;
        border: none;
        border-radius: 50px;
        outline: none;
        background: linear-gradient(90deg, #FF1178, #FE0000, #FFF205, #FF1178);
        box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #fff;
        background-size: 400%;
        color: #fff;
        font-size: 15px;
        letter-spacing: 4px;
        text-transform: uppercase;
    }

    .btn::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background: linear-gradient(90deg, #FF1178, #FE0000, #FFF205, #FF1178);
        background-size: 400%;
        border-radius: 50px;
        opacity: 0;
        transition: .5s;
    }

    .btn:hover {
        animation: animate 10s linear infinite;
        color: white;
    }

    .btn:hover::before {
        filter: blur(25px);
        opacity: .8;
        animation: animate 10s linear infinite;
    }

    @keyframes animate {
        0% {
            background-position: 0%;
        }

        100% {
            background-position: 400%;
        }
    }

    .form-control {
        color: #ffffff;
        background-color: #ffffff;
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.25rem;
        display: inline-block;
        height: 52px;
        letter-spacing: .05rem;
        padding: 15px 20px;
        background-image: none;
        background-clip: padding-box;
        border: none;
        appearance: none;
        box-shadow: 2px 2px 4px #e2e6fc, -2px -2px 4px #fff;
        touch-action: manipulation;
        overflow: visible;
        position: relative;
        border-radius: 50px;

    }

    h1 {
        color: #191941;
        font-family: "Nunito", sans-serif;
        letter-spacing: .015rem;
        margin-top: 0;
        font-size: 90px;
        position: relative;
        z-index: 1;
        text-shadow: 2px 2px 4px #e2e6fc, -2px -2px 4px #fff;
        font-weight: 800;
        text-transform: uppercase;
    }

    .text {
        font-weight: 500;
        color: #656774;
    }

    /*MODAL POWERS*/

    h5 {
        text-transform: uppercase;
        color: #191941;
    }

    .modal-content {
        position: relative;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: .25rem;
    }

    .text-muted {
        font-size: 10px;
    }

    .accordion {
        border-bottom: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .card {
        position: relative;
    }

    .top {
        background: black;
    }
</style>