{{!-- Le manga --}}
<section class="mt-5">
    <div class="container">
        <div class="row">

            {{!-- Contenu --}}
            <div class="">

                <div class="jumbotron-manga p-4 p-md-5 text-white bg-dark rounded">
                    <div class="">
                        <h1 class="display-4 font-italic">A propos du manga</h1>
                        <p class="text-white">JoJo's Bizarre Adventure est toujours en publication à l'heure actuelle et
                            a
                            dépassé les 100 volumes, devenant très vite une oeuvre majeure de la bande dessinée
                            japonaise. La
                            série à laissé depuis le début de sa parution une empreinte dans la culture populaire,
                            inspirant nombre d'artistes et laissant une ribambelle de phrases cultes et références à
                            travers tout média.</p>
                    </div>
                </div>


                <div class="p-4 p-md-5 rounded mt-5">
                    <div class="d-flex w-100 justify-content-between">
                        <h4 class="manga-title font-weight-bold">APERCU</h4>
                    </div>
                    <p class="text-justify">Jojo's Bizarre Adventure est un manga
                        de
                        type
                        Shonen et a
                        partir
                        de la partie 7 de type
                        Seinen (le Shonen est un manga s'adressant à un public d'adolescents tandis
                        que
                        le
                        Seinen s'adresse à un public adulte du moins plus mature). En tant que tel,
                        l'accent
                        est mis sur les combats et les personnages. Cependant,
                        contrairement à la plupart des autres mangas de ce type, les combats se
                        remportent
                        davantage grâce à la réflexion et à l'ingéniosité que par la force brute.

                        Cela est rendu possible grâce à la complexité et à la richesse des pouvoirs
                        des
                        personnages. En effet, les protagonistes sont la majorité du temps en
                        désavantage
                        évident, ce qui les poussent à utiliser intelligemment tous les moyens à
                        leur
                        disposition pour surmonter les épreuves auxquelles ils sont
                        confrontés.</p>
                    <br>
                    <br>
                    <div class="d-flex w-100 justify-content-between">
                        <h4 class="manga-title font-weight-bold">L'HISTOIRE</h4>
                    </div>
                    <p class="text-justify">
                        L'histoire de JoJo’s Bizarre Adventure relate la relation mortelle entre
                        Dio
                        Brando, fils adoptif d'un bienveillant noble et Jonathan Joestar, son
                        héritier
                        principal et donc rival de Dio. La suite de la série via ses diverses
                        parties
                        raconte la lutte sur plus d'un siècle entre les descendants de Jonathan
                        et
                        leurs
                        alliés et (de près ou de loin) Dio et ses disciples. Chaque protagoniste
                        de
                        chaque partie étant un personnage différent, le lieu de l'action couvre
                        plusieurs pays, que ce soit l’Italie, le Japon, les Etats-Unis ou
                        l’Angleterre.

                        La série recouvre un large panel de genres, y compris l'action,
                        l'aventure,
                        l'horreur, le thriller, le mystère, le fantastique et la comédie. Les
                        récits
                        emploient des thèmes récurrents incluant le destin, la justice, la
                        rédemption,
                        la psychologie et des développements imaginaires sur des théories
                        scientifiques,
                        ainsi que l'histoire, les mathématiques, les mythes, les phénomènes
                        naturels...
                        Autant pour expliquer l’existence et le fonctionnement de concepts
                        propre a
                        ce
                        manga comme le Stand ou l’Onde que la façon dont ils entrent en action
                        vis-à-vis
                        du temps et du monde.

                        Le trait d'Araki, d'abord très similaire aux mangas des années 80
                        (fortement
                        inspiré de Sakigake!! Otokojuku et de Hokuto no Ken) devient au fil des
                        parties
                        plus fin et plus proche de ses inspirations artistiques personnelles.
                        Les
                        personnages, à la base très virils et musclés, deviennent plus
                        androgynes à
                        partir de la partie 4, jusqu'à la partie 6 centrée quasi uniquement sur
                        des
                        personnages féminins. Son dessin à gardé depuis cette particularité en
                        offrant
                        des designs très soignés et des poses extravagantes emblématiques de la
                        série.

                        Une des particularités les plus notoires de JoJo's est aussi son nombre
                        colossal
                        de référence envers la mode, la musique (principalement le rock et la
                        pop du
                        moment) et divers styles d'art, que ce soit dans les noms des
                        personnages,
                        de
                        leur pouvoir, ou les situations qu'ils vivent.
                    </p>
                    <br>
                    <br>
                    <div class="d-flex w-100 justify-content-between">
                        <h4 class="manga-title font-weight-bold">LES PARTIES</h4>
                    </div>
                    <p class="text-justify">
                        JoJo's Bizarre Adventure a la particularité d'être découpé en parties
                        distinctes, chacune suivant un protagoniste différent (mais qui ont tous
                        le point commun d'être être surnommés Jojo), son propre cast, époque et
                        scénario, tout en s'inscrivant dans une continuité globale.

                        Cela permet de suivre l'évolution de l'histoire sur différentes périodes
                        et lieux, tout en retrouvant certains personnages d'une partie à
                        l'autre.

                        A l'heure actuelle, JoJo's Bizarre Adventure comporte 8 parties:
                    <ul class="">
                        <li>Phasellus iaculis neque</li>
                        <li>Purus sodales ultricies</li>
                        <li>Vestibulum laoreet porttitor sem</li>
                        <li>Ac tristique libero volutpat at</li>
                    </ul>
                    </p>
                    <br>
                    <br>
                    <div class="d-flex w-100 justify-content-between">
                        <h4 class="manga-title font-weight-bold">INSPIRATIONS</h4>
                    </div>
                    <p class="text-justify">

                        Conception
                        Pour Araki, l'essence même d'un manga réside dans son héros. Le héros doit
                        marquer la mémoire et l'esprit du lecteur. Si, au contraire, il donne une
                        impression de déjà-vu, Araki considère que le manga est raté26.

                        Technique
                        Araki réalise toutes ses planches à la main. Après l'esquisse, il dessine à la
                        plume et à l'encre de Chine. Il rajoute ensuite plusieurs couches d'acrylique27.
                        Il ne dessine que les personnages ; son équipe d'assistants est chargé des
                        décors et des paysages28.

                        Araki explique que le trait dans les manga est plus nerveux que dans la BD
                        européenne ou américaine où les dessins sont plus « arrondis »29.

                        Inspiration
                        L'auteur utilise une large palette de couleurs et revendique un intérêt pour
                        Paul Gauguin. Il se réclame du maniérisme et s'inspire de Michel-Ange pour les
                        poses de ses personnages ainsi que de Egon Schiele et Gustav Klimt. Il fait
                        également référence aux travaux du mangaka Buronson2.

                        Babel II, de Mitsuteru Yokoyama2,30.

                        Style
                        Avec son style baroque[C'est-à-dire ?], l'auteur se démarque de la concurrence
                        auprès de son lectorat en ne collant pas aux références du genre31.

                        Nationalité de ses personnages
                        Au Japon, il est de tradition que les héros de shōnen soient japonais. Araki
                        souhaitait briser cette coutume, en attribuant à ses personnages la nationalité
                        des pays où se déroule l'histoire32. Quelques exemples dans le shōnen / seinen
                        Jojo's Bizarre Adventure : Jonathan Joestar (Partie 1 : Phantom Blood) est
                        anglais, son petit-fils Joseph Joestar (Partie 2 : Battle Tendency) est
                        américain, les membres de la famille Zeppeli (Partie 1 : Phantom Blood, Partie 2
                        : Battle Tendency & Partie 7 : Steel Ball Run) qui sont italiens, ou encore
                        Jean-Pierre Polnareff (Partie 3 : Stardust Crusaders) qui est français.
                        Néanmoins on retrouve beaucoup de personnages japonais : Kujo Jotaro (Partie 3 :
                        Stardust Crusaders), Higashikata Josuke (Partie 4 : Diamond Is Unbreakable), ou
                        encore certains aïeux de la famille Joestar. Araki considérait qu'il n'y avait
                        pas lieu de faire la différence entre les personnages et leurs origines, car des
                        thèmes récurrents dans ses mangas, comme l'amour et le courage étaient largement
                        universels et unificateurs33.
                    </p>
                </div>
            </div>
        </div>
    </div>



    {{!-- Liste des tomes --}}
    <div class="container text-center">
        <h2 class="text-center mt-5 display-4 tome-title">Liste des Saisons</h2>
    </div>


    {{!-- Nav Tabs --}}

    <div id="table-nav-tabs">
        <div class="container">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" role="tab" href="#PhantomBlood" data-toggle="tab">Phantom Blood <br>
                        <small>saison 1</small></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" role="tab" href="#BattleTendency" data-toggle="tab">Battle Tendency <br>
                        <small>saison 2</small></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" role="tab" href="#StardustCrusaders" data-toggle="tab">Stardust Crusaders <br>
                        <small>saison 3 </small></a>
                </li>
            </ul>


            <div class="tab-content">
                {{!-- Phantom Blood (partie 1) --}}
                <div role="tabpanel" class="tab-pane active" id="PhantomBlood">
                    <div class="container text-center">
                        <div class="container tome-card">
                            <h5 class="text-center">Page 1</h5>

                            {{!-- Info --}}
                            <ul class="list-group justify-content-center list-group-horizontal-md">
                                <li class="list-group-item">Type: Shonen</li>
                                <li class="list-group-item">Genre: Nekketsu</li>
                                <li class="list-group-item">Editeur: Shūeisha</li>
                                <li class="list-group-item">Animé: David Production (2012)</li>
                            </ul>

                            {{!-- Text --}}
                            <p class="text-justify mt-5">Phantom Blood, connu initialement sous le nom de 1ère partie :
                                La
                                jeunesse
                                de
                                Jonathan
                                Joestar (第1部 ジョナサン·ジョースター ―その青春―, Dai Ichi Bu Jonasan Jōsutā Sono Seishun) est la
                                première
                                partie du
                                manga JoJo's Bizarre Adventure. Elle a été publiée en 1987 dans le magazine Weekly
                                Shōnen
                                Jump et
                                comporte
                                44
                                chapitres compilés dans les volumes 1 à 5. La version française a d'abord été publiée en
                                intégralité
                                par
                                J'ai lu, et est éditée par Tonkam depuis juillet 2014. Cette partie a eu droit à une
                                série
                                animé de
                                9
                                épisodes par le studio d'animation David Production sortie en 2012.</p>

                            <h6 class="font-weight-bold title-story">La petite histoire</h6>

                            <p class="text-justify">
                                Nous sommes à la fin du xixe siècle en plein Royaume-Uni de l'ère victorienne. <span
                                    class="font-weight-bold">Lord Joestar</span> voit arriver
                                dans sa
                                maison le jeune <span class="font-weight-bold">Dio Brando</span> , le fils de l'homme
                                dont
                                il croit
                                qui
                                lui a sauvé la vie. Reconnaissant, il
                                l'adopte après la mort de son père, mais le jeune homme s'avère ambitieux et n'a pour
                                seul
                                but que
                                de
                                s'emparer de la fortune de la famille Joestar. Dio fera tout pour nuire et humilier
                                <span class="font-weight-bold">Jonathan</span>, le fils de
                                Lord
                                Joestar, afin de le détruire psychologiquement et atteindre son but. Voyant que cela
                                s'avère
                                vain et
                                vaincu par sa détermination, il lui laisse un répit de plusieurs années.

                                Tous deux désormais à l'université, il semblerait presque être des frères unis. Malgré
                                les
                                bonnes
                                intentions de Dio, Jonathan doute toujours de celui-ci jusqu'à ce qu'il découvre que Dio
                                a
                                commis un
                                parricide et
                                tente désormais d'empoisonner aussi son père adoptif. Lorsqu'un mystérieux masque de
                                pierre
                                antique
                                d'origine aztèque
                                renfermant d'étranges pouvoirs apparaît, leur rivalité latente prend des proportions
                                dramatiques et
                                surnaturelles. Jonathan révèle au grand jour les plans machiavéliques de son frère
                                adoptif.
                                Acculé
                                et
                                sur le point de se retrouver livré à la police, Dio utilise cet étrange artefact.
                                Utilisant
                                le sang
                                de
                                Lord Joestar, il abandonne son humanité et devient un vampire, craignant la
                                lumière du jour et s'abreuvant de sang humain. Il tue les policiers présents avant de
                                s'attaquer au
                                héros encore sous le choc de la mort de son père.

                                Seul l'apprentissage d'une ancienne technique martiale tibétaine, l'Onde (hamon en
                                japonais), lui
                                permettra de vaincre celui
                                qui change irrémédiablement sa destinée. Aidé de son nouveau compagnon <span
                                    class="font-weight-bold">Robert E.O Speedwagon</span> et de son maître, le baron
                                <span class="font-weight-bold">William Antonio Zeppeli</span>, il se prépare enfin à
                                défaire
                                les
                                légions
                                de zombies envoyés par son ancien frère adoptif pour
                                l'exterminer. Le combat qui les oppose atteint son paroxysme en opposant le côté le plus
                                noble de
                                l'humain à son aspect le plus abject.
                            </p>
                            <div class="container">
                                {{!-- Icon --}}
                                <div class="alert alert-info" role="alert">
                                    <p class="text-analyse"> <span class="font-weight-bold">Point of view</span>:
                                        Speedwagon a
                                        évoqué
                                        le fait que Dio serait né mauvais. vraiment ? Les êtres-humains
                                        peuvent naître entièment bon ou entièrement mauvais ? Un
                                        être-humain ne naît t-il pas neutre ? Son environnement et son éducation ne
                                        façonnent-ils
                                        pas sa
                                        personalité et son caractère ? Le débat reste ouvert à ce sujet.</p>
                                    </svg>
                                </div>
                            </div>
                            <p>
                                <a href="https://www.amazon.fr/s?k=phantom+Blood&__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&ref=nb_sb_noss"
                                    target="_blank" class="btn btn-warning my-2">Voir plus</a>
                            </p>
                            {{!-- Card --}}
                            <div class="container mt-5">
                                <div class="row justify-content-center">
                                    {{!-- Début de la boucle --}}
                                    {{#each season1 }}
                                    <div class="card-deck mb-3 text-center col-md-3">
                                        <div class="card mb-4 shadow-sm">
                                            <div class="card-header">
                                                <h6 class="my-0 font-weight-bold">{{ title }}</h6>
                                            </div>
                                            <div class="card-body">
                                                <img src="{{ image }}" class="card-img-top" alt="...">
                                                {{!-- Ajout de la variable "stripTags" ainsi que le contenu --}}
                                                <p class="justify mt-2">{{ stripTags content }}</p>
                                                {{!-- Récupérer le "createDate" pour ajouter la date --}}
                                                <p class="card-text text-muted"><small>Ajouté le:
                                                        {{ moment createDate format="DD.MM.YYYY" }}</small></p>
                                            </div>
                                        </div>
                                    </div>
                                    {{/each }}
                                </div>
                            </div>
                            {{!-- / Card --}}
                        </div>
                    </div>
                </div>
                {{!-- /Phantom Blood (partie 1) --}}



                {{!-- Battle Tendency (partie 2) --}}
                <div role="tabpanel" class="tab-pane" id="BattleTendency">
                    <div class="container text-center">
                        <div class="container tome-card">
                            <h5 class="text-center">Page 2</h5>

                            {{!-- Info --}}
                            <ul class="list-group justify-content-center list-group-horizontal-md">
                                <li class="list-group-item">...</li>
                                <li class="list-group-item">...</li>
                                <li class="list-group-item">...</li>
                                <li class="list-group-item">...</li>
                            </ul>

                            {{!-- Text --}}
                            <p class="text-justify mt-5">...</p>

                            <h6 class="font-weight-bold title-story">La petite histoire</h6>

                            <p class="text-justify">
                                ...
                            </p>
                            <div class="container">
                                {{!-- Icon --}}
                                <div class="alert alert-analyse" role="alert">
                                    <svg width="30" height="30" viewBox="0 0 16 16" class="bi bi-person"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />

                                        <p class="text-analyse"> <span class="font-weight-bold">Point of view</span>:
                                            ...</p>
                                    </svg>
                                </div>
                            </div>
                            <p>
                                <a href="" target="_blank" class="btn my-2">Voir plus</a>
                            </p>
                            {{!-- Card --}}
                            <div class="container mt-5">
                                <div class="row justify-content-center">
                                    {{!-- Début de la boucle --}}
                                    {{#each season2 }}
                                    <div class="card-deck mb-3 text-center col-md-3">
                                        <div class="card mb-4 shadow-sm">
                                            <div class="card-header">
                                                <h6 class="my-0 font-weight-bold">{{ title }}</h6>
                                            </div>
                                            <div class="card-body">
                                                <img src="{{ image }}" class="card-img-top" alt="...">
                                                {{!-- Ajout de la variable "stripTags" ainsi que le contenu --}}
                                                <p class="justify mt-2">{{ stripTags content }}</p>
                                                {{!-- Récupérer le "createDate" pour ajouter la date --}}
                                                <p class="card-text text-muted"><small>Ajouté le:
                                                        {{ moment createDate format="DD.MM.YYYY" }}</small></p>
                                            </div>
                                        </div>
                                    </div>
                                    {{/each }}
                                </div>
                            </div>
                            {{!-- / Card --}}
                        </div>
                    </div>
                </div>
                {{!-- /Battle Tendency (partie 2) --}}



                {{!-- Stardust Crusaders (Partie 3) --}}
                <div role="tabpanel" class="tab-pane" id="StardustCrusaders">
                    <div class="container text-center">
                        <div class="container tome-card">
                            <h5 class="text-center">Page 3</h5>

                            {{!-- Info --}}
                            <ul class="list-group justify-content-center list-group-horizontal-md">
                                <li class="list-group-item">...</li>
                                <li class="list-group-item">...</li>
                                <li class="list-group-item">...</li>
                                <li class="list-group-item">...</li>
                            </ul>

                            {{!-- Text --}}
                            <p class="text-justify mt-5">...</p>

                            <h6 class="font-weight-bold title-story">La petite histoire</h6>

                            <p class="text-justify">
                                ...
                            </p>
                            <div class="container">
                                {{!-- Icon --}}
                                <div class="alert alert-analyse" role="alert">
                                    <svg width="30" height="30" viewBox="0 0 16 16" class="bi bi-person"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />

                                        <p class="text-analyse"> <span class="font-weight-bold">Point of view</span>:
                                            ...</p>
                                    </svg>
                                </div>
                            </div>
                            <p>
                                <a href="" target="_blank" class="btn my-2">Voir plus</a>
                            </p>
                            {{!-- Card --}}
                            <div class="container mt-5">
                                <div class="row justify-content-center">
                                    {{!-- Début de la boucle --}}
                                    {{#each season3 }}
                                    <div class="card-deck mb-3 text-center col-md-3">
                                        <div class="card mb-4 shadow-sm">
                                            <div class="card-header">
                                                <h6 class="my-0 font-weight-bold">{{ title }}</h6>
                                            </div>
                                            <div class="card-body">
                                                <img src="{{ image }}" class="card-img-top" alt="...">
                                                {{!-- Ajout de la variable "stripTags" ainsi que le contenu --}}
                                                <p class="justify mt-2">{{ stripTags content }}</p>
                                                {{!-- Récupérer le "createDate" pour ajouter la date --}}
                                                <p class="card-text text-muted"><small>Ajouté le:
                                                        {{ moment createDate format="DD.MM.YYYY" }}</small></p>
                                            </div>
                                        </div>
                                    </div>
                                    {{/each }}
                                </div>
                            </div>
                            {{!-- / Card --}}
                        </div>
                    </div>
                </div>
                {{!-- /Stardust Crusaders (Partie 3) --}}
            </div>
        </div>
    </div>
</section>
{{!-- / Manga --}}