{{!-- Le manga --}}
<section class="mt-5">
    <div class="container">
        <div class="row">

            {{!-- Contenu --}}
            <div class="">

                <h1 class="text-center">A propos du manga</h1>

                <div class="p-4 rounded mt-2">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="manga-title font-weight-bold">APERCU</h5>
                    </div>
                    <p class="text-justify">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                        doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                        architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                        aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
                        sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                        adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
                        aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
                        suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure
                        reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui
                        dolorem eum fugiat quo voluptas nulla pariatur?"

                    </p>
                    </br>
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="manga-title font-weight-bold">L'HISTOIRE</h5>
                    </div>
                    <p class="text-justify">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                        doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                        architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                        aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
                        sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                        adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
                        aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
                        suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure
                        reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui
                        dolorem eum fugiat quo voluptas nulla pariatur?"
                    </p>
                    </br>
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="manga-title font-weight-bold">INSPIRATIONS</h5>
                    </div>
                    <p class="text-justify">
                        "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
                        beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
                        odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                        sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
                        voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                        laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui
                        in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat
                        quo voluptas nulla pariatur?"
                    </p>
                </div>
            </div>
        </div>




        {{!-- Liste des tomes --}}
        <div class="container text-center">
            <h2 class=" mt-5">Liste des Saisons</h2>
        </div>


        {{!-- Nav Tabs --}}

        <div id="table-nav-tabs">
            <div class="container">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" role="tab" href="#PhantomBlood" data-toggle="tab">Saison 1<br>
                            <small>Phantom Blood</small></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" role="tab" href="#BattleTendency" data-toggle="tab">Saison 2<br>
                            <small>Battle Tendency</small></a>
                    </li>
                </ul>



                <div class="tab-content">

                    <div role="tabpanel" class="tab-pane active" id="PhantomBlood">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8">
                                    {{!-- Titre --}}
                                    <h3 class="mt-4">Phantom Blood</h3>
                                    <h1 class="small">ファントムブラッド</h1>
                                    {{!-- Auteur --}}
                                    <p class="lead">
                                        Par:
                                        <small>Admin</small>
                                    </p>
                                    <hr>
                                    {{!-- Date --}}
                                    <p>Posté le: {{moment d " DD/MM/YYYY " }} à {{moment d " hh:mm.ss "}}</p>
                                    <hr>
                                    {{!-- image d'acceuil blog --}}
                                    <img class="img-fluid rounded" src="/assets/images/arcs/dioVSjojo.jpg" height="300"
                                        width="auto" alt="">
                                    <hr>

                                    {{!-- Citation --}}
                                    <blockquote class="blockquote">
                                        <p class="font-italic small">"Lorem ipsum dolor sit amet, consectetur adipiscing
                                            elit, sed
                                            do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                            minim
                                            veniam, quis nostrud exercitation"</p>
                                        <footer class="blockquote-footer">
                                            <cite title="Source Title">Hirohiko Araki</cite>
                                        </footer>
                                    </blockquote>


                                    {{!-- Résumé de la saison --}}
                                    <p class="text-justify">Sed ut perspiciatis unde omnis iste natus error sit
                                        voluptatem accusantium
                                        doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                        veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                                        voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                                        consequuntur
                                        magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam
                                        est,
                                        qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
                                        numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
                                        voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
                                        suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel
                                        eum
                                        iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae
                                        consequatur,
                                        vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.
                                    </p>
                                    <div class="text-center"><button type="button" class="btn btn-dark mt-5">Voir
                                            plus</button></div>
                                    <hr>
                                </div>

                                <!-- Sidebar Widgets Column -->
                                <div class="col-md-4">
                                    <!-- Categories Widget -->
                                    <div class="card my-4">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <ul class="list-group">
                                                        <li class="list-group-item active">INFORMATIONS</li>
                                                        <li class="list-group-item">Lorem ipsum</li>
                                                        <li class="list-group-item">Lorem ipsum</li>
                                                        <li class="list-group-item">Lorem ipsum</li>
                                                        <li class="list-group-item">Lorem ipsum</li>
                                                        <li class="list-group-item">Lorem ipsum</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Side Widget -->
                                    <div class="card my-4">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <ul class="list-group">
                                                        <li class="list-group-item active">PERSONNAGES</li>
                                                        <li class="list-group-item">Lorem ipsum</li>
                                                        <li class="list-group-item">Lorem ipsum</li>
                                                        <li class="list-group-item">Lorem ipsum</li>
                                                        <li class="list-group-item">Lorem ipsum</li>
                                                        <li class="list-group-item">Lorem ipsum</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.row -->

                            {{!-- Card --}}
                            <div class="container mt-5">
                                <div class="row">
                                    {{!-- Début de la boucle partie 1--}}
                                    {{#each season1 }}
                                    <div class="card-deck col-md-6 col-sm-12 col-lg-3">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="card-title text-center text-uppercase">{{ title }}</h5>
                                            </div>
                                            <img class="card-img-top" src="{{ image }}" alt="Card image cap">
                                            <div class="card-body">
                                                <p class="card-text"> {{ stripTags content }}</p>
                                                <p class="card-text"><small class="text-muted">Ajouté le: {{ moment
                                                        createDate
                                                        format="DD.MM.YYYY" }}</small></p>
                                            </div>
                                        </div>
                                    </div>
                                    {{/each }}
                                    {{!-- /Phantom Blood (partie 1) + fin de la boucle --}}
                                    {{!-- / Card --}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <!---------------------------------->

                    <div role="tabpanel" class="tab-pane active" id="BattleTendency">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8">
                                    {{!-- Titre --}}
                                    <h3 class="mt-4">Battle Tendency</h3>
                                    <h1 class="small">戦闘潮流</h1>
                                    {{!-- Auteur --}}
                                    <p class="lead">
                                        Par:
                                        <small>Admin</small>
                                    </p>
                                    <hr>
                                    {{!-- Date --}}
                                    <p>Posté le: {{moment d " DD/MM/YYYY " }} à {{moment d " hh:mm.ss "}}</p>
                                    <hr>
                                    {{!-- image d'acceuil blog --}}
                                    <img class="img-fluid rounded" src="/assets/images/joseph.jpg" height="300"
                                        width="auto" alt="">
                                    <hr>

                                    {{!-- Citation --}}
                                    <blockquote class="blockquote">
                                        <p class="small font-italic">"Lorem ipsum dolor sit amet, consectetur adipiscing
                                            elit, sed
                                            do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                            minim
                                            veniam, quis nostrud exercitation"</p>
                                        <footer class="blockquote-footer">
                                            <cite title="Source Title">Hirohiko Araki</cite>
                                        </footer>
                                    </blockquote>


                                    {{!-- Résumé de la saison --}}
                                    <p class="text-justify small">Sed ut perspiciatis unde omnis iste natus error sit
                                        voluptatem accusantium
                                        doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                        veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                                        voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                                        consequuntur
                                        magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam
                                        est,
                                        qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
                                        numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
                                        voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
                                        suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel
                                        eum
                                        iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae
                                        consequatur,
                                        vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.

                                    </p>
                                    <hr>
                                </div>

                                <!-- Sidebar Widgets Column -->
                                <div class="col-md-4">
                                    <!-- Categories Widget -->
                                    <div class="card my-4">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <ul class="list-group">
                                                        <li class="list-group-item active">INFORMATIONS</li>
                                                        <li class="list-group-item">Lorem ipsum</li>
                                                        <li class="list-group-item">Lorem ipsum</li>
                                                        <li class="list-group-item">Lorem ipsum</li>
                                                        <li class="list-group-item">Lorem ipsum</li>
                                                        <li class="list-group-item">Lorem ipsum</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Side Widget -->
                                    <div class="card my-4">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <ul class="list-group">
                                                        <li class="list-group-item active">PERSONNAGES</li>
                                                        <li class="list-group-item">Lorem ipsum</li>
                                                        <li class="list-group-item">Lorem ipsum</li>
                                                        <li class="list-group-item">Lorem ipsum</li>
                                                        <li class="list-group-item">Lorem ipsum</li>
                                                        <li class="list-group-item">Lorem ipsum</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.row -->

                            {{!-- Card --}}
                            {{!-- Début de la boucle partie 1--}}
                            {{#each season2 }}
                            <div class="container mt-5">
                                <div class="row justify-content-center">
                                    <div class="card-deck mb-3 text-center col-md-3">
                                        <div class="card mb-4 shadow-sm">
                                            <div class="card-header">
                                                <h6 class="my-0 font-weight-bold">{{ title }}</h6>
                                            </div>
                                            <div class="card-body">
                                                <img src="{{ image }}" class="card-img-top" alt="...">
                                                {{!-- Ajout de la variable "stripTags" ainsi que le contenu --}}
                                                <p class="justify mt-2">{{ stripTags content }}</p>

                                                {{!-- Récupérer le "createDate" pour ajouter la date --}}
                                                <p class="card-text text-muted"><small>Ajouté le:
                                                        {{ moment createDate format="DD.MM.YYYY" }}</small>
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each }}
                            {{!-- /Phantom Blood (partie 1) + fin de la boucle --}}
                            {{!-- / Card --}}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
{{!-- / Manga --}}