{{!-- Inscription --}}
<section>
    <div class="container mt-5">


        <div class="card-body mx-auto" style="max-width: 700px;">
            <h1 class="card-title mt-3 text-center display-4">S'inscrire</h1>

            <p class="small" style="text-align: center;">...</p>


            <form action="/create" method="POST" class="my-login-validation" >
                <div class="row">
                    <div class="col">
                        <label for="text">Nom</label>
                        <input type="text" class="form-control" placeholder="firstname" value="{{ firstname }}">
                    </div>
                    <div class="col">
                        <label for="text">Prénom</label>
                        <input type="text" class="form-control" placeholder="lastname" value="{{ lastname}}">
                    </div>
                </div>

                <div class="col">
                    <label for="email">Pseudonyme</label>
                    <input type="text" class="form-control" placeholder="pseudo" value="{{ pseudo }}">
                </div>

                <div class="col">
                    <label for="email">Email</label>
                    <input id="email" type="email" class="form-control" placeholder="email" name="email"
                        value="{{ email }}">
                </div>

                <div class="col">
                    <label for="password">Mot de passe</label>
                    <input id="password" type="password" placeholder='password' class="form-control" name="password"
                        value="{{ password }}">
                </div>

                {{!-- Confirmer le password --}}
                <div class="form-group" style="margin-top: 20px;">
                    <label for="password">Confirmer le mot de passe</label>
                    <input id="password" type="password" placeholder="passwordConfirm" class="form-control"
                        name="passwordConfirm" value='{{ passwordConfirm }}'>
                    <div class="invalid-feedback">
                    </div>
                </div>

                <button type="submit" class="btn text-white btn-block">
                    Valider
                </button>
            </form>
        </div>
    </div>

</section>

{{!-- /Inscription --}}