<section>
    <div class="container">
        <h6 class="text-center text-white">Modification du pouvoir</h6>
        {{!--Ajout de l'url et de la méthode + "multipart/form-data" pour l'ajout de fichiers --}}
        <form action="/admin/editPowers/{{ _id }}" method="POST" enctype="multipart/form-data">

            {{!-- Input Name --}}
            <div class="form-group">
                <label for="text">Nom de la capacité (stand ou autres ...)</label>
                <input type="text" class="form-control" id="exampleInput" name="name" value="{{ name }}">
            </div>

            {{!-- Input Contenu --}}
            <div class="form-group">
                <textarea class="form-control ckeditor" id="editor11" name="content1" hidden>{{ content1 }}</textarea>
                {{!-- Rajout de l'éditeur de texte "CKeditor" --}}
                <script>
                    const edPowers = CKEDITOR.replace('editor11', {
                        entities: false, // Pour la suppression des caractères spéciaux
                        //uiColor: '#FFF205' // Coloriser les bordures de l'éditeur
                    });

                    edPowers.on('change', function (e) {//modification du contenu de l'éditeur
                        console.log(e.editor.getData())
                    })
                </script>
            </div>

            {{!-- Input Titre --}}
            <div class="form-group">
                <label for="text">Type de pouvoir (stand ou autres...)</label>
                <input type="text" class="form-control" id="exampleInput" name="title1" value="{{ title1 }}">
            </div>

            {{!-- Input Contenu --}}
            <div class="form-group">
                <label for="exampleInputTextarea">Description de sa ou ses capacité(s)</label>
                <textarea class="ckeditor" id="editor12" name="content2" hidden>{{ content2 }}</textarea>
                {{!-- Rajout de l'éditeur de texte "CKeditor" --}}
                <script>
                    CKEDITOR.replace('editor12', {
                        entities: false, // Pour la suppression des caractères spéciaux
                        //uiColor: '#FFF205' // Coloriser les bordures de l'éditeur
                    });
                </script>
            </div>

            {{!-- Input Titre --}}
            <div class="form-group">
                <label for="text">Son histoire</label>
                <input type="text" class="form-control" id="exampleInput" name="title2" value="{{ title2 }}">
            </div>

            {{!-- Input Contenu --}}
            <div class="form-group">
                <label for="exampleInputTextarea">Description de sa personnalité + son histoire</label>
                <textarea class="ckeditor" id="editor13" name="content3" hidden>{{ content3 }}</textarea>
                {{!-- Rajout de l'éditeur de texte "CKeditor" --}}
                <script>
                    CKEDITOR.replace('editor13', {
                        entities: false, // Pour la suppression des caractères spéciaux
                        //uiColor: '#FFF205' // Coloriser les bordures de l'éditeur
                    });
                </script>
            </div>


            {{!-- Images --}}
            <div class="form-group">
                <label for="exampleFormControlFile1">Envoyer une image au format jpeg</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1" name="image">{{ image }}
            </div>

            {{!-- Bouttons --}}
            <div class="text-center">
                <button type="submit" class="btn btn-edit"><i class="fas fa-edit"></i></button>
            </div>
        </form>
    </div>
</section>