{{!-- Partial liste de commentaire --}}


{{!-- Ici nous listons les commentaires en référence avec l'ID de notre Article --}}
{{#each comment }}

{{!-- Ici nous récupérons les informations de notre commentaire --}}
<h3>ajouter par: {{ username }}</h3>
<p>Content: {{ content }}</p>
<p>{{ comments }}</p>

{{!-- Ici le boutton de suppression du commentaire --}}
<form action="/comment/{{ _id }}/?_method=DELETE" method="GET">
    <button type="submit">Effacer</button>
</form>

{{!-- Récupérer le "createDate" pour ajouter la date --}}
<p class="card-text text-muted"><small>Ajouté le:
        {{ moment createDate format="DD-MM-YYYY" }}</small></p>

{{/each }}