<section>
    {{!--Ajout de l'url et de la méthode--}}
    <form action="/admin/editNews/{{ _id }}" method="POST" enctype="multipart/form-data">

        {{!-- Input Titre du manga --}}
        <div class="form-group">
            <label for="text">Titre {{ title }}</label>
            <input type="text" class="form-control" id="exampleInput" name="title" value="{{ title }}">
        </div>

        {{!-- Input Contenu --}}
        <div class="form-group">
            <label for="exampleInputTextarea">Contenu</label>
            <p id='ckeditor' hidden> {{ content }} </p>
            <textarea class="form-control" id="editor" placeholder="example textarea" name="content{{_id}}"></textarea>
            {{!-- Rajout de l'éditeur de texte "CKeditor" --}}
            <script>
                // let varEditor{{_id}} = `editor{{_id}}`
                var ed{{ _id }} = CKEDITOR.replace(`content{{_id}}`, {
                    entities: false, //pour la suppression des caractères spéciaux
                    //uiColor: '#00000' //Coloriser les bordures de l'éditeur
                });

                ed{{ _id }}.on('change', function (e) {//modification du contenu de l'éditeur
                    console.log(e.editor.getData())
                })

                const data{{ _id }} = document.getElementById('ckeditor').innerText
                CKEDITOR.instances.editor.setData(data{{ _id }})

            </script>
        </div>

        {{!-- Images --}}
        <div class="form-group">
            <label for="exampleFormControlFile1">Envoyer une image au format jpeg</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1" name="image">
        </div>

        {{!-- Bouton valider --}}
        <button type="submit" class="btn btn-primary">Valider</button>
    </form>
    {{!-- <form action="/admin/deleteNews/{{ _id }}" method="GET">
        <button type="submit" class="btn btn-danger mt-2">Supprimer</button>
    </form> --}}

    <a href="/admin/deleteNews/{{ _id }}" class="btn btn-danger mt-2">Supprimer</a>

    </div>

</section>