{{!-- Admin --}}
<section class="mt-5">
    <div class="container">


        <div class="container mt-15vh pb-0">
            <h2 class="container text-center mb-5">Gestion des articles</h2>
        </div>

        {{!-- news --}}
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button id="news" class="btn btn-link btn-block text-center" type="button"
                            data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                            aria-controls="collapseOne">
                            NEWS
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Articles</th>
                                                <th scope="col">
                                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                                        data-target='#modalAdd{{_id}}' data-whatever="">Ajouter</button>
                                                    {{>
                                                    admin/crudAdmin/news/modalAdd
                                                    }}
                                                    {{!-- Appel du modal avec un
                                                    ID dynamique de l'object
                                                    dans la boucle --}}
                                                </th>
                                            </tr>

                                        </thead>
                                        <tbody>
                                            {{!-- Début de la boucle --}}
                                            {{#each news }}

                                            <tr>
                                                <th scope="row">{{ inc @index }}</th>
                                                <td>{{ title }}</td>
                                                <td>{{ image }}</td>
                                                <td class="text-center"><button type="button" class="btn
                                                        btn-warning" data-toggle="modal"
                                                        data-target="#modalEdit{{_id}}">Editer</button>
                                                    <button type="button" class="btn btn-danger" data-toggle="modal"
                                                        data-target="#modalDelete{{_id}}">Supprimer</button>
                                                    {{>
                                                    admin/crudAdmin/news/modalEdit
                                                    }}
                                                    {{>
                                                    admin/crudAdmin/news/modalDelete
                                                    }}
                                                </td>
                                            </tr>

                                            {{/each }}
                                            {{!-- Fin de la boucle --}}
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{!-- /news --}}

        <!---------------------------------->

        {{!-- arcs --}}
        <div class="accordion mt-5" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-center" type="button" data-toggle="collapse"
                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            ARCS
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Articles</th>
                                                <th scope="col">
                                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                                        data-target="#modalAddArcs{{_id}}"
                                                        data-whatever="@mdo">Ajouter</button>
                                                    {{>
                                                    admin/crudAdmin/arcs/modalAddArcs
                                                    }}
                                                    {{!-- Appel du modal avec un
                                                    ID dynamique de l'object
                                                    dans la boucle --}}
                                                </th>
                                            </tr>

                                        </thead>
                                        <tbody>
                                            {{!-- Début de la boucle --}}
                                            {{#each arcs }}

                                            <tr>
                                                <th scope="row">{{ inc @index }}</th>
                                                <td>{{ title }}</td>
                                                <td>{{ image }}</td>
                                                <td><button type="button" class="btn btn-warning" data-toggle="modal"
                                                        data-target="#modalEditArcs{{_id}}">Editer</button>
                                                    <button type="button" class="btn btn-danger" data-toggle="modal"
                                                        data-target="#modalDeleteArcs{{_id}}">Supprimer</button>
                                                    {{>
                                                    admin/crudAdmin/arcs/modalEditArcs
                                                    }}
                                                    {{>
                                                    admin/crudAdmin/arcs/modalDeleteArcs
                                                    }}
                                                </td>
                                            </tr>

                                            {{/each }}
                                            {{!-- Fin de la boucle --}}
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{!-- /arcs --}}

        <!---------------------------------->

        {{!-- characters --}}
        <div class="accordion mt-5" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-center" type="button" data-toggle="collapse"
                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            PERSONNAGES
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Articles</th>
                                                <th scope="col">
                                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                                        data-target="#modalAddCharacters{{_id}}"
                                                        data-whatever="@mdo">Ajouter</button>
                                                    {{>
                                                    admin/crudAdmin/characters/modalAddCharacters
                                                    }}
                                                    {{!-- Appel du modal avec un
                                                    ID dynamique de l'object
                                                    dans la boucle --}}
                                                </th>
                                            </tr>

                                        </thead>
                                        <tbody>
                                            {{!-- Début de la boucle --}}
                                            {{#each character }}

                                            <tr>
                                                <th scope="row">{{ inc @index }}</th>
                                                <td>{{ name }}</td>
                                                <td>{{ image }}</td>
                                                <td><button type="button" class="btn btn-warning" data-toggle="modal"
                                                        data-target="#modalEditCharacters{{_id}}">Editer</button>
                                                    <button type="button" class="btn btn-danger" data-toggle="modal"
                                                        data-target="#modalDeleteCharacters{{_id}}">Supprimer</button>
                                                    {{>
                                                    admin/crudAdmin/characters/modalEditCharacters
                                                    }}
                                                    {{>
                                                    admin/crudAdmin/characters/modalDeleteCharacters
                                                    }}
                                                </td>
                                            </tr>

                                            {{/each }}
                                            {{!-- Fin de la boucle --}}
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{!-- /characters --}}

        <!---------------------------------->

        {{!-- powers --}}
        <div class="accordion mt-5" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-center" type="button" data-toggle="collapse"
                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            CAPACITES
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Articles</th>
                                                <th scope="col">
                                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                                        data-target="#modalAddPowers{{_id}}"
                                                        data-whatever="@mdo">Ajouter</button>
                                                    {{>
                                                    admin/crudAdmin/powers/modalAddPowers
                                                    }}
                                                    {{!-- Appel du modal avec un
                                                    ID dynamique de l'object
                                                    dans la boucle --}}
                                                </th>
                                            </tr>

                                        </thead>
                                        <tbody>
                                            {{!-- Début de la boucle --}}
                                            {{#each powers }}

                                            <tr>
                                                <th scope="row">{{ inc @index }}</th>
                                                <td>{{ name }}</td>
                                                <td>{{ image }}</td>
                                                <td><button type="button" class="btn btn-warning" data-toggle="modal"
                                                        data-target="#modalEditPowers{{_id}}">Editer</button>
                                                    <button type="button" class="btn btn-danger" data-toggle="modal"
                                                        data-target="#modalDelePowers{{_id}}">Supprimer</button>
                                                    {{>
                                                    admin/crudAdmin/powers/modalEditPowers
                                                    }}
                                                    {{>
                                                    admin/crudAdmin/powers/modalDeletePowers
                                                    }}
                                                </td>
                                            </tr>

                                            {{/each }}
                                            {{!-- Fin de la boucle --}}
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{!-- /powers --}}

        <!---------------------------------->

        {{!-- manga --}}
        <div class="accordion mt-5" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-center" type="button" data-toggle="collapse"
                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            MANGA
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Articles</th>
                                                <th scope="col">
                                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                                        data-target="#modalAddManga{{_id}}"
                                                        data-whatever="@mdo">Ajouter</button>
                                                    {{>
                                                    admin/crudAdmin/manga/modalAddManga
                                                    }}
                                                    {{!-- Appel du modal avec un
                                                    ID dynamique de l'object
                                                    dans la boucle --}}
                                                </th>
                                            </tr>

                                        </thead>
                                        <tbody>
                                            {{!-- Début de la boucle --}}
                                            {{#each manga }}

                                            <tr>
                                                <th scope="row">{{ inc @index }}</th>
                                                <td>{{ title }}</td>
                                                <td>Saison: {{ season }}</td>
                                                <td>{{ image }}</td>
                                                <td><button type="button" class="btn btn-warning" data-toggle="modal"
                                                        data-target="#modalEditManga{{_id}}">Editer</button>
                                                    <button type="button" class="btn btn-danger" data-toggle="modal"
                                                        data-target="#modalDeleteManga{{_id}}">Supprimer</button>
                                                    {{>
                                                    admin/crudAdmin/manga/modalEditManga
                                                    }}
                                                    {{>
                                                    admin/crudAdmin/manga/modalDeleteManga
                                                    }}
                                                </td>
                                            </tr>

                                            {{/each }}
                                            {{!-- Fin de la boucle --}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        {{!-- /manga --}}



    </div>
</section>
{{!-- / Admin --}}